@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}



main img {
    width: 450px;
}


section {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.titulo_profissao p {

    font-style: italic;
    font-weight: 600;
    font-size: 39px;
    line-height: 88px;
    text-align: right;
    letter-spacing: 0.22em;
}

.redes_contato {
    display: flex;
    justify-content: end;

}

.redes_contato img {
    width: 60px;
    margin: 5px;
}

/*ILUSTRAÇÕES*/

.galeria {
    position: relative;
    width: 60%;
    /* Ancho a ocupar por la galería sobre el total disponible */
    overflow: hidden;
    margin: 50px auto;
   
    background-color: #000;
    box-shadow: 1px 1px 6px #000;
}

.galeria:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./img/oie.png);
    /* Fondo por defecto */
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.imagen {
    position: relative;
    width: 15%;
    /* Ancho de la miniatura sobre el ancho total de la galería */
    padding-bottom: 15%;
    /* Idéntico al anterior para miniaturas cuadradas */
    background-position: 50% 50%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.imagen:nth-of-type(1) {
    background-image: url(./img/esperança.png);
}

.imagen:nth-of-type(2) {
    background-image: url(./img/gato.png);
}

.imagen:nth-of-type(3) {
    background-image: url(./img/triste.png);
}

.imagen:nth-of-type(4) {
    background-image: url(./img/dino.png);
}

.imagen:before {
    content: "";
    position: absolute;
    top: -700%;
    /* ((Nºimágenes*2)-1)*100*/
    left: 100%;
    width: 566%;
    /* (10000/ancho_imagen)-100 */
    height: 400%;
    /* Nºimagenes*100 */
    background-image: inherit;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.imagen:hover:nth-of-type(1):before {
    top: 0%;
    /* (Nº.nth-1)*(-100) */
}

.imagen:hover:nth-of-type(2):before {
    top: -100%;
    /* (Nº.nth-1)*(-100) */
}

.imagen:hover:nth-of-type(3):before {
    top: -200%;
    /* (Nº.nth-1)*(-100) */
}

.imagen:hover:nth-of-type(4):before {
    top: -300%;
    /* (Nº.nth-1)*(-100) */
}


/* me conheça */

#Meconheca {
    background-image: url(./img/fundao.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

h3,
h4,
h5 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    line-height: 100px;
}

.perfilTexto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.perfilTexto img {
    width: 300px;
}

.perfilTexto p {
    border: 1px solid #fff;
    width: 50%;
    padding: 20px;
}

.resumoProfissional p {
    border: 1px solid #fff;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}