@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A5BC53;
    font-family: 'Poppins';
}

header a {
    color: #FEEDBF;
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.2s ease-out;
    background-image: linear-gradient(rgb(228, 78, 63), rgb(228, 78, 63));
}

header a:hover {
    background-size: 100% 4px, auto;
    justify-content: center;
}

main {
    text-align: center;
}

h1,
h2 {
    color: #FEEDBF;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 120px;
    letter-spacing: 0.11em;
    text-indent: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfilTexto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.perfilTexto img {
    width: 280px;
}

.margin_geral {
    margin: 50px;
}


.balao {
    background-color: #FEEDBF;
    padding: 15px;
    width: 900px;
    color: #E44E3F;
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
    letter-spacing: 0.14em;
}

.resumoProfissional{
    display: flex;
    align-items: center;
    justify-content: center;
}

.balaoResumo{
    background-color: #FEEDBF;
    padding: 15px;
    width: 100%;
    color: #E44E3F;
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
    letter-spacing: 0.14em;
}

@media only screen and (max-width: 600px){
    h1,
    h2{
        font-size: 30px;
    }
    .perfilTexto{
        flex-direction: column;
    }

    .perfilTexto img {
        width: 180px;
        margin-bottom: 15px;
    }

    .balao {
        width: 100%;
    }
}